Assets/main.unity
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/expandedItems
Library/guidmapper
*.sln
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.dll
Assembly-CSharp-vs.csproj
*.csproj
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/expandedItems
Library/guidmapper
Library/metadata/76/76f0367d8df79f2418ce8813ba87caa9
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.sln
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
*.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
*.csproj